.content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.grid {
    display: grid;
    grid-template-columns: 3fr 7fr;
}

.canvas {
    border: 2px solid #000;
    margin: 0;
    width: 700px;
}

.menu {
    border: 1px solid #000;
    padding: 10px;
}

input {
    width: 30px
}
.chart {
    width: 1000px;
}
